@use "../../index.scss" as *;

.price-slider-wrap {
  color: $primary-text;
  display: flex;
  align-items: center;
  .price {
    width: 50px;
    text-align: center;
  }
  .slider {
    color: $primary-text;
    width: 200px;
    margin: 0 10px;
  }
  .MuiSlider-track {
    color: $highlight-color;
    height: 5px;
  }
}
