@use "../../index" as *;

.search-bar {
  .search {
    background-color: $seondary-background;
    border: 1px solid $primary-borders;
    width: 100%;
    margin: 24px auto;
    padding: 12px 24px;

    &::before {
      border-bottom: 1px solid transparent !important;
    }
  }
}
.pricing-opt-wrapper {
  // border: 1px solid red;
  background-color: $primary-background-2;
  margin-bottom: 24px;

  .filters {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: $seondary-text;
    padding: 12px 24px;
    font-size: 14px;
    @media (max-width: $screen-md) {
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
    }
    .pricing-label {
      min-width: 130px;
      color: $seondary-text;
    }
    .checkbox-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      @media (max-width: $screen-md) {
        align-items: center;
        justify-content: center;
      }
      .checkbox {
        color: $seondary-text;
      }
      .MuiFormControlLabel-label {
        font-size: 14px;
      }
    }
  }
  .reset-btn {
    color: $primary-text !important;
    &:hover {
      background-color: $seondary-background;
    }
  }
}

.sort-by-wrapper {
  padding: 12px 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .sort-by-lable {
    padding: 0 12px;
    color: $primary-text;
    font-size: 14px;
  }
  .sort-by-selector {
    text-align: center;
    background-color: $primary-background-2;
    padding: 3px 5px;
    .MuiSelect-icon {
      color: $seondary-text;
    }
  }
}

.MuiList-root.MuiList-padding.MuiMenu-list {
  background-color: $primary-background-2 !important;
}
