$primary-background: #000000;
$seondary-background: #1b1a21;

$primary-text: #ffffff;
$seondary-text: #d0d3d4;

$primary-borders: #212027;

// widths
$screen-lg: 1200px;
$screen-md: 768px;
$screen-sm: 480px;
